<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="mobile-head">
    <meta charset="UTF-8">
    <title>Mentor</title>
    <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<nav th:fragment="mobile-nav">
    <ion-app>
        <ion-tabs>
            <ion-tab-bar slot="bottom">
                <ion-tab-button th:href="@{/home}">
                    <ion-icon name="home"></ion-icon>
                    <ion-label>HOME</ion-label>
                </ion-tab-button>

                <ion-tab-button tab="search">
                    <ion-icon name="search"></ion-icon>
                    <ion-label>SEARCH</ion-label>
                </ion-tab-button>

                <ion-tab-button th:href="@{/profile}">
                    <ion-icon name="person-circle"></ion-icon>
                    <ion-label>PROFILE</ion-label>
                </ion-tab-button>

                <ion-tab-button th:href="@{/about}">
                    <ion-icon name="information-circle"></ion-icon>
                    <ion-label>ABOUT</ion-label>
                </ion-tab-button>
            </ion-tab-bar>
        </ion-tabs>
    </ion-app>
</nav>
</html>
