<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
</head>
<body>
<nav th:fragment="navbar">

    <div id="navbar">
        <div id="wrapper">
            <a th:href="@{/home}"><h1>mentor</h1></a>
            <form autocomplete="off" action="/search">
                <select id="selection">
                    <option hidden>Option</option>
                    <option value="true">Mentor</option>
                    <option value="false">Mentee</option>
                </select>
                <div class="cntr">
                    <div class="cntr-innr">
                        <label class="search" for="myInput">
                            <input id="myInput" type="text" name="search">
                        </label>
                    </div>
                </div>
                <input id="submitBtn" onclick="getOption()" type="submit">
            </form>
            <div style="display: flex">
                <a th:href="@{/messages}"><img th:src="@{/img/svg/mail.svg}" alt="" style="margin-right: 20px"></a>
                <a th:href="@{/profile}"><img th:src="@{/img/svg/user.svg}" alt="" style="margin-left: 20px"></a>
            </div>
        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
<script>
    var interests = ["Automotive", "Financial", "Health/Fitness", "Beauty/Fashion", "Cooking", "Relationship", "Handyman", "Parenting", "Life", "Career", "Outdoors", "Academic", "Religion/Spiritual", "Technology", "Music", "Sports", "Art", "Home Economics", "Self Defense", "Legal", "San Antonio", "Dallas", "Houston", "El Paso", "Natalia", "Fort Worth", "Boerne", "Austin", "New Braunfels", "Fredricksburg", "Beaumont"];

    function autocomplete(inp, arr) {

        var currentFocus;
        inp.addEventListener("input", function (e) {
            var a, b, i, val = this.value;
            closeAllLists();
            if (!val) {
                return false;
            }
            currentFocus = -1;
            a = document.createElement("DIV");
            a.setAttribute("id", this.id + "autocomplete-list");
            a.setAttribute("class", "autocomplete-items");
            this.parentNode.appendChild(a);
            for (i = 0; i < arr.length; i++) {

                console.log(arr[i].substr(0, val.length).toUpperCase());
                //where we say don't bring up the autocomps until a certain length
                if (val.length > 2 && arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {

                    b = document.createElement("DIV");
                    b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                    b.innerHTML += arr[i].substr(val.length);
                    b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                    b.addEventListener("click", function (e) {
                        inp.value = this.getElementsByTagName("input")[0].value;
                        closeAllLists();
                    });
                    a.appendChild(b);
                }
            }
        });
        inp.addEventListener("keydown", function (e) {
            var x = document.getElementById(this.id + "autocomplete-list");
            if (x) x = x.getElementsByTagName("div");
            if (e.keyCode == 40) {
                currentFocus++;
                addActive(x);
            } else if (e.keyCode == 38) {
                currentFocus--;
                addActive(x);
            } else if (e.keyCode == 13) {
                e.preventDefault();
                if (currentFocus > -1) {
                    if (x) x[currentFocus].click();
                }
            }
        });

        function addActive(x) {
            if (!x) return false;
            removeActive(x);
            if (currentFocus >= x.length) currentFocus = 0;
            if (currentFocus < 0) currentFocus = (x.length - 1);
            x[currentFocus].classList.add("autocomplete-active");
        }

        function removeActive(x) {
            for (var i = 0; i < x.length; i++) {
                x[i].classList.remove("autocomplete-active");
            }
        }

        function closeAllLists(elmnt) {
            var x = document.getElementsByClassName("autocomplete-items");
            for (var i = 0; i < x.length; i++) {
                if (elmnt != x[i] && elmnt != inp) {
                    x[i].parentNode.removeChild(x[i]);
                }
            }
        }

        document.addEventListener("click", function (e) {
            closeAllLists(e.target);
        });
    }

    autocomplete(document.getElementById("myInput"), interests);

    function getOption() {
        selectElement =
            document.querySelector('#select1');

        output = selectElement.value;

        // document.querySelector('.output').textContent
        //     = output;
        if (output === "true") {
            console.log("true");
            return true;

        } else if (output === null) {
            return "Show all";
        }
        console.log("false");
        return false;

    }

    $("#inpt_search").on('focus', function () {
        $(this).parent('label').addClass('active');
    });

    $("#inpt_search").on('blur', function () {
        if ($(this).val().length == 0)
            $(this).parent('label').removeClass('active');
    });

</script>
</nav>
</body>
</html>
