*{
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap');
}
.mobile{
    display: none;
}
.navWrapper{
    display: none;
}
body{
    margin: 0;
}
#about, #home, #profile{
    position: relative;
    height: 100%;
    margin: 0;
    background-image: linear-gradient(#ffffff, #eeeeee);
}
a{
    margin: 0;
    text-decoration: none;
}
#splash{
    background-image: linear-gradient(#1777F2, #0035A8);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    width: 100vw;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 25vh 50vh 25vh 80vh 120vh;
    justify-items: center;
}
.icon{
    height: 300px;
    margin-right: 680px;
    grid-area: 2 / 2 / 3 / 3;
}
.title{
    margin-top: 50px;
    font-size: 150px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    grid-area: 2 / 2 / 3 / 3;
}
.titleSpan{
    text-shadow: black 2px 2px;
    color: #FEDD00;
    margin-left: 180px;
    font-family: 'Open Sans', sans-serif;
    font-size: 200px;
}
#quotes{
    grid-area: 2 / 2 / 3 / 3;
    margin-top: 250px;
    margin-left: 50px;
    color: white;
    font-size: 20px;
    width: 400px
}
.arrows{
    margin-top: -50px;
    grid-area: 4 / 2 / 5 / 3;

}
.arrow{
    animation: bounce 2s infinite;
    height: 50px;
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}
.btn{
    transition: all ease 0.8s;
    font-weight: bold;
}
.btn1{
    background-color: transparent;
    color: #FEDD00;
    border: 3px solid #FEDD00;
    height: 60px;
    width: 120px;
    font-size: 20px;
}
.btn2{
    background-color: transparent; color: white; border: 3px solid white; height: 60px; width: 120px; font-size: 20px
}
.btn5{
    margin: 10px;
    background-color: transparent; color: red; border: 3px solid red; height: 60px; width: 120px; font-size: 20px
}
.btn6{
    margin: 10px;
    background-color: transparent; color: limegreen; border: 3px solid limegreen; height: 60px; width: 120px; font-size: 20px
}
.btn5:hover{
    box-shadow: inset 200px 0 0 0 red;
    color: white!important;
    text-shadow: black 1px 1px;
}
.btn6:hover{
    box-shadow: inset 200px 0 0 0 limegreen;
    color: white!important;
    text-shadow: black 1px 1px;
}
.btn1:hover{
    box-shadow: inset 200px 0 0 0 #FEDD00;
    color: white!important;
    text-shadow: black 1px 1px;
}
.btn2:hover{
    box-shadow: inset 200px 0 0 0 white;
    color: #1777F2!important;
    text-shadow: black 1px 1px;
}
.modal-cancel {
    background-color: transparent;
    color: red;
    height: 60px; width: 100px; font-size: 20px;
    margin-top: 80px;
    margin-right: 40px;
    margin-left: 20px;
}

.modal-ok {
    background-color: transparent; color: limegreen; height: 60px; width: 100px; font-size: 20px
}

.modal-shade {
    display: none;
    opacity: 0;
    background: radial-gradient(circle at center, rgba(0, 0, 0, 0.4) 0, rgba(0,0,0,0.8) 100%);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    will-change: opacity;
}

.modal-container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal{
    opacity: 0;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.3);
    background: white;
    border-radius: 5px;
    padding: 30px 45px;
    height: 300px!important;
    width: 300px!important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal-actions {
    align-self: flex-end;
}

.splashSection2{
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    grid-area: 4 / 1 / 5 / 4;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.splashSection2 img{
    height: 200px;
    margin: 0 50px;
}
.splashSection2 p {
    font-size: 25px;
}
.splashSection2 h1{
    font-family: 'Montserrat', sans-serif;
}
.splashSection3{
    font-family: 'Open Sans', sans-serif;
    grid-area: 5 / 1 / 6 / 4;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.splashProfilePic{
    height: 200px;
    width: 200px;
    border: #FEDD00 4px solid;
    border-radius: 50%;
    box-shadow: black 4px 4px;
}
.splashSection3 li{
    margin: 0 20px;
    color: white;
    text-align: center;
}
/*-------------------navbar-----------------------*/
#wrapper {
    position: absolute;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
#navbar {
    position: relative;
    height: 100px;
    background-color: #1777F2;
    margin: 0;
}

#navbar h1{font-weight: bold;
    font-size: 70px;font-family: 'Montserrat', sans-serif;
    color: white;
    margin-top: -15px;
    margin-left: -20px;
}
.titleSpanNav{
    text-shadow: black 2px 2px;
    color: #FEDD00;
    font-family: 'Open Sans', sans-serif;
    font-size: 80px;
}
.mentorIconNav{
    height: 80px!important;
    width: 80px!important;
    margin-left: -105px;
    margin-top: -15px;

}
#navbar form{
    display: flex;
    justify-content: center;
}
#navbar img{
    height: 80px;

}

#selection {
    position: absolute;
    top: 0;
    left: -60px;
    z-index: 0;
    height: 100%;
    background-color: #FFFFFF;
    width: 80px;
    color: #1777F2;
    margin-right: 20px;
}

#submitBtn {
    height: 50px;
    width: 100px;
}

.cntr {
    display: table;
    width: 100%;
    height: 100%;
}

.cntr .cntr-innr {
    display: table-cell;
    text-align: center;
    color: white;

}

/*---------footer---------------------*/
#aboutLink{
    font-size: 30px; text-decoration: none; color: #FEDD00; font-family: 'Montserrat', sans-serif;
}
#aboutLink:hover{
    color: white;
}
#footer{
    background-color: #1777F2;
    color: #FEDD00;
    position: absolute;
   margin-bottom: 0;
    width: 100vw;
}
#footer ul{
    list-style: none;
}
#box1{
    display: flex;
}
#footer img{
    border-radius: 50%;
    border: white 2px solid;
    height: 100px;
    width: 100px;
    margin: 20px;
    transition: all ease 0.8s;
}
#footer img:hover{
    height: 130px;
    width: 130px;
    margin: 0px;
    border: #FEDD00 5px solid;
}
.site-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.centered{
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-areas:
        "left center right";
}
.site-content {
    grid-area: center;
    flex: 1;

}


/*------------------about--------------------------*/
.profilePic{
    width: 25vw;
    height: 50vh;
    margin: 20px;
    border: 10px solid #FEDD00;
    border-radius: 8px;
    transition: all ease 0.4s;


}
.profilePic:hover{
    border-color: #1777F2;
}
#about h3{
    font-size: 50px;
    color: #1777F2;
    font-family: 'Montserrat', sans-serif;

}
.aboutPic{
    height: 100px;

}








#searching{
    opacity:0.0;
    position:fixed;
    bottom:100%;
    width:0%;
    height:0%;
    left:50%;
    margin-left:0%;
    z-index:9999;
    border-radius:100%;
    overflow:hidden;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
}
#searching.active{
    opacity:1.0;
    bottom:0%;
    width:100%;
    height:100%;
    top:0%;
    left:0%;
    border-radius:0;
    margin-left:0;
}
#searchThis{
    position:absolute;
    top:0%;
    left:0%;
    width:100%;
    height:55px;
    background-color:#FFF;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border-radius:1px;
    z-index:20000;
}
#searchThis input{
    width:calc(100% - 55px);
    height:40px;
    padding-left:10px;
    margin-top:7px;
    border:none;
    outline:0;
    font-size:1em;
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    color: #333;
}
#closeSearch{
    position:absolute;
    top:0;
    right:0;
    width:55px;
    height:55px;
    text-align:center;
    line-height:55px;
    cursor:pointer;
    background:#FEDD00;
    color:#FFF;
    font-size:2em;
}
#searchSubmit{
    position:absolute;
    top:0;
    right:55px;
    width:80px;
    height:55px;
    text-align:center;
    line-height:55px;
    cursor:pointer;
    background:#1777F2;
    color:#FFF;
    font-size:20px;
}
#searchResults{
    position:absolute;
    top:55px;
    left:0;
    width:100%;
    height:calc(100% - 55px);
    background-color:rgba(0, 0, 0, 0.8);
    overflow-y:scroll;
}
#searchResults a{
    display:block;
    background-color:#FFF;
    padding:6px 15px;
    text-decoration:none;
    font-size:1.1em;
    color:#333;
}


.link{
    padding:10px;
    text-align:center;
    text-transform:uppercase;
    cursor:pointer;
    font-size:1em;
    margin-top:-20px;
    width: 100px
}
/*---------------------profile-----------------------*/

.rating {
    font-size: 10vw;
}
#profilePicture{
    height: 50vh;
    margin-right: 50px;
    margin-top: 50px;
    border-radius: 8px;
    border: 8px solid #FEDD00;
}
.site-content h1{
    font-size: 10vh;
}
.site-content h3{
    font-size: 8vh;
}


/*---------sign-up----------------*/
#signUp{
    display: flex;
    margin: 0;
}

#regForm {
    display: none;
}

.tab {
    display: none;
}

#pathchoice {
    visibility: visible;
}
.btn{
    transition: all ease 0.8s;
    font-weight: bold;
}
.btn3{
    background-color: transparent;
    color: #1777F2;
    border: 3px solid #1777F2;
    height: 60px;
    width: 120px;
    font-size: 20px;
}
.btn4{
    background-color: transparent; color: #FEDD00; border: 3px solid #FEDD00; height: 60px; width: 120px; font-size: 20px
}
.btn5{
    margin: 10px;
    background-color: transparent; color: red; border: 3px solid red; height: 60px; width: 120px; font-size: 20px
}
.btn6{
    margin: 10px;
    background-color: transparent; color: limegreen; border: 3px solid limegreen; height: 60px; width: 120px; font-size: 20px
}
.btn3:hover{
    box-shadow: inset 200px 0 0 0 #1777F2;
    color: white!important;
    text-shadow: black 1px 1px;
}
.btn4:hover{
    box-shadow: inset 200px 0 0 0 #FEDD00;
    color: white!important;
    text-shadow: black 1px 1px;
}
.btn5:hover{
    box-shadow: inset 200px 0 0 0 red;
    color: white!important;
    text-shadow: black 1px 1px;
}
.btn6:hover{
    box-shadow: inset 200px 0 0 0 limegreen;
    color: white!important;
    text-shadow: black 1px 1px;
}
#left{
    background-image: linear-gradient(#0035A8,#1777F2);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 40vw;
    height: 100vh;
    text-align: center;
}
.left_img{
    margin-top: 20em;
    width: 350px;
    height: 350px
}
#right{
    width: 60vw;
    height: 100vh;
}
.rightContent{
    display: none;
    justify-content: center;
    text-align: center;
}

.bigCircle{
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin-top: 2em;
}
.bigCircle p {
    margin-top: .5em;
    color: white;
    font-weight: bold;
    font-size: 25px;
}
.littleCircle{
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin: 3em 1em;
}
.line{
    z-index: -1;
    height: 10px;
    width: 140px;
    margin: 3.5em -0.5em;
}
.form{
    margin: 10em 5em;
}

.form-group label{
    font-size: 40px;
}
.form-control{
    margin: 10px;
    font-size: 40px;
    height: 40px;
    width: 250px;
    caret-color: #1777F2;
}
input:focus {
    border-color: #1777F2;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}
textarea{
    font-size: 30px;
}
textarea:focus{
    border-color: #1777F2;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}

.rightContent #lineone, .rightContent #linetwo, .rightContent #linethree {
    display: none;
}

.lcgroupone, .lcgrouptwo, .lcgroupthree {
    visibility: visible;
}


@media screen and (min-width: 600px) {

    /*#left {*/
    /*    display: none !important;*/
    /*}*/

    /*#left img {*/
    /*    display: none !important;*/
    /*}*/
    .bigCircle{
        border-radius: 50%;
        height: 40px;
        width: 40px;
        margin-top: 2em;

    }
    .bigCircle:first-child{
        margin-left: 2em;
    }
    .bigCircle p {
        margin-top: .7em;
        color: white;
        font-weight: bold;
    }
    .littleCircle{
        border-radius: 50%;
        height: 10px;
        width: 10px;
        margin: 3em .2em;
    }
    .line{
        height: 10px;
        width: 100px;
        margin: 3em -0.5em;
    }
    textarea{
        font-size: 20px;
    }

    .form{
        margin: 0em -2em;
    }

    .form-group label{
        font-size: 20px;
    }
    .form-control{
        margin: 10px;
        font-size: 30px;
        height: 40px;
        width: 250px;
        caret-color: #1777F2;
        border: 2px solid grey;
    }
    textarea{
        font-size: 20px;
        border: 2px solid grey;
        width: 100vw;
    }
    #upload{
        height: 4em;
        width: 4em;
    }
    #picUpLoad{
        margin-left: -5px!important;

    }

    #right h1{
        margin: 0!important;
    }
    #legal{
        width: 100vw!important;
        margin: 0!important;
    }
    #disagree{
        margin-top: 1em!important;
        margin-left: 1.5em!important;
    }
    #agree{
        margin-top: 1em!important;
        margin-left: 0em!important;

    }
}
#james{
    display: none;
}
@media only screen and (min-width: 800px) and (max-width: 1100px) {
    #james{
        display: inline-block;
    }
    .splashSection2 img{
        height: 150px;
        margin: 0 50px;
    }
    .splashSection2 p {
        font-size: 16px;
    }
}
@media only screen and (max-width: 800px) {
    #regForm{
        vertical-align: center;
    }
    #right{
        text-align: center;
        color: white;
        width: 100%!important;
        height: 100%!important;
    }
    #right button{
        color: white;
        border: white 2px solid;
        margin: 10px;
        background-color: transparent;
    }
    #right p{
       color: black!important;
    }

    h1, h2, h3, label{
        font-size: 4vh!important;
        font-family: 'Montserrat', sans-serif;
        color: white!important;
    }
   p, h5{
       font-size: 3vh!important;
       font-family: 'Open Sans', sans-serif;
       color: white!important;
   }
   form, .post{
       width: 90vw!important;
       margin-left: 10px!important;
       margin-right: 0!important;
   }
    .navWrapper{
        display: block;
    }
    .site-container{
        display: none;
    }

    .rightContent, #left, #about, #home, #profile, #splash{
        display: none!important;
    }
    body{
        margin: 0;
    }
    html{
        background-image: linear-gradient(#1777F2, #0035A8);
        background-repeat: no-repeat;
        background-size: 100vh;
        height: 100vh;

    }
    .mobile{
        color: white;
        background-image: linear-gradient(#1777F2, #0035A8);
        background-repeat: no-repeat;
        background-size: 100%;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;


    }
    .iconM{
        height: 250px;
    }
    .titleM{
        margin-top: -25px;
        font-size: 80px;
        font-family: 'Montserrat', sans-serif;
        color: white;

    }
    .titleSpanM{
        text-shadow: black 2px 2px;
        color: #FEDD00;
        font-family: 'Open Sans', sans-serif;
        font-size: 50px;
    }
    a img{
        height: 25px;
    }
    .mobileLogin{
        display: none;
    }
    .btn{
        color: white;
        border-color: white;

    }

}
