<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/header :: header">
</head>
<body>
<div class="site-container">
    <div th:include="partials/navbar :: navbar">
    </div>
    <main class="site-content">
        <ul style="display: flex; justify-content: center">
            <li>
                <img th:src="@{img/jw.jpeg}" alt="">
                <ul>
                    <li>J.W. Hester</li>
                    <li>https://www.linkedin.com/in/jw-hester/</li>
                    <li>https://github.com/jwhester</li>
                    <li>https://alumni.codeup.com/students/755</li>
                </ul>
            </li>
            <li><img th:src="@{img/kellsey.jpeg}" alt=""></li>
            <li><img th:src="@{img/ken.jpeg}" alt=""></li>
        </ul>
    </main>
    <div th:include="partials/footer :: footer">
    </div>
</div>
</body>
</html>
