<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/header :: header">
</head>
<body>
<div id="about">
    <div class="site-container">
        <div th:include="partials/navbar :: navbar">
        </div>
        <main class="site-content" style="text-align: center">
            <ul style="display: flex; justify-content: center; list-style: none; padding: 0">
                <li>
                    <img class="profilePic" th:src="@{img/profileJW.png}" alt="">
                    <h3>J.W. Hester</h3>
                    <ul style="list-style: none; display: flex; justify-content: space-evenly">
                        <li><a href="https://www.linkedin.com/in/jw-hester/"><img class="aboutPic"
                                                                                  th:src="@{img/linkedin.svg}"
                                                                                  alt=""></a></li>
                        <li><a href="https://github.com/jwhester"><img class="aboutPic" th:src="@{img/github.svg}"
                                                                       alt=""></a></li>
                        <li><a href="https://alumni.codeup.com/students/755"><img class="aboutPic"
                                                                                  th:src="@{img/codeup.svg}" alt=""></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <img class="profilePic" th:src="@{img/profileKellsey.png}" alt="">
                    <h3>Kellsey Neagley</h3>
                    <ul style="list-style: none; display: flex; justify-content: space-evenly">
                        <li><a href="https://www.linkedin.com/in/kellseyneagley/
"><img class="aboutPic" th:src="@{img/linkedin.svg}" alt=""></a></li>
                        <li><a href="https://github.com/kellseyn
"><img class="aboutPic" th:src="@{img/github.svg}" alt=""></a></li>
                        <li><a href="https://alumni.codeup.com/students/742"><img class="aboutPic"
                                                                                  th:src="@{img/codeup.svg}" alt=""></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <img class="profilePic" th:src="@{img/profileKen.png}" alt="">
                    <h3>Kenneth Howell</h3>
                    <ul style="list-style: none; display: flex; justify-content: space-evenly">
                        <li><a href="https://www.linkedin.com/in/howell-kenneth/
"><img class="aboutPic" th:src="@{img/linkedin.svg}" alt=""></a></li>
                        <li><a href="https://github.com/kennethhowell
"><img class="aboutPic" th:src="@{img/github.svg}" alt=""></a></li>
                        <li><a href="https://alumni.codeup.com/students/765"><img class="aboutPic"
                                                                                  th:src="@{img/codeup.svg}" alt=""></a>
                        </li>
                    </ul>
                </li>
            </ul>
            <h3>ABOUT <span style="color: #FEDD00">US</span></h3>
            <h5 style="color: #1777F2; font-size: 35px; margin: 40px 200px">We are a group of dedicated Software
                Developers and this is our final project at Codeup. Mentor is a full-stack Java application that uses
                Spring to access a MySQL database. The front-end is our own custom CSS, and jQuery was used to add the
                File Stack API and interactivity.</h5>
        </main>
        <div th:include="partials/footer :: footer">
        </div>
    </div>
</div>
<div class="mobile">
    <div th:include="partials/mobile :: mobile-head">
    </div>
    <ion-content>
    <div style="overflow: scroll; z-index: 1">
    <ion-card style="margin-top: -10px; margin-bottom: 20px">
        <img th:src="@{img/profileJW.png}">
        <ion-card-header style="text-align: center">
            <ion-card-title>J.W. Hester</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ul style="list-style: none; display: flex; justify-content: space-evenly">
                <li><a href="https://www.linkedin.com/in/jw-hester/"><img class="aboutPic"
                                                                          th:src="@{img/linkedin.svg}"
                                                                          alt=""></a></li>
                <li><a href="https://github.com/jwhester"><img class="aboutPic" th:src="@{img/github.svg}"
                                                               alt=""></a></li>
                <li><a href="https://alumni.codeup.com/students/755"><img class="aboutPic"
                                                                          th:src="@{img/codeup.svg}" alt=""></a>
                </li>
            </ul>
        </ion-card-content>
    </ion-card>
    <ion-card style="margin-top: -10px; margin-bottom: 20px">
        <img th:src="@{img/profileJW.png}">
        <ion-card-header style="text-align: center">
            <ion-card-title>J.W. Hester</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ul style="list-style: none; display: flex; justify-content: space-evenly">
                <li><a href="https://www.linkedin.com/in/jw-hester/"><img class="aboutPic"
                                                                          th:src="@{img/linkedin.svg}"
                                                                          alt=""></a></li>
                <li><a href="https://github.com/jwhester"><img class="aboutPic" th:src="@{img/github.svg}"
                                                               alt=""></a></li>
                <li><a href="https://alumni.codeup.com/students/755"><img class="aboutPic"
                                                                          th:src="@{img/codeup.svg}" alt=""></a>
                </li>
            </ul>
        </ion-card-content>
    </ion-card>
    <ion-card style="margin-top: -10px; margin-bottom: 20px">
        <img th:src="@{img/profileJW.png}">
        <ion-card-header style="text-align: center">
            <ion-card-title>J.W. Hester</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ul style="list-style: none; display: flex; justify-content: space-evenly">
                <li><a href="https://www.linkedin.com/in/jw-hester/"><img class="aboutPic"
                                                                          th:src="@{img/linkedin.svg}"
                                                                          alt=""></a></li>
                <li><a href="https://github.com/jwhester"><img class="aboutPic" th:src="@{img/github.svg}"
                                                               alt=""></a></li>
                <li><a href="https://alumni.codeup.com/students/755"><img class="aboutPic"
                                                                          th:src="@{img/codeup.svg}" alt=""></a>
                </li>
            </ul>
        </ion-card-content>
    </ion-card>
    </div>
    </ion-content>
</div>
<div th:include="partials/mobile :: mobile-nav">
</div>
<script>
    var content = document.querySelector('ion-content');
    content.scrollEvents = true;
    content.addEventListener('ionScrollStart', () => console.log('scroll start'));
    content.addEventListener('ionScroll', (ev) => console.log('scroll', ev.detail));
    content.addEventListener('ionScrollEnd', () => console.log('scroll end'));
</script>
</body>
</html>
