<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/header :: header">
</head>
<body>
<div class="site-container">
<div th:include="partials/navbar :: navbar">
</div>
        <main class="site-content">
<button><a th:href="@{/posts/create}">Create a post</a></button>


    <div th:each="post : ${posts}">
        <h1 th:text="${post.title}"></h1>
        <p th:text="${post.body}"></p>
        <form th:action="@{|/posts/${post.id}/edit|}" th:method="GET">
            <button>Edit Post</button>
        </form>
    </div>

    </main>
<div th:include="partials/footer :: footer">
</div>
    </div>


</body>
</html>
