<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

  <div th:include="partials/navbar :: navbar">
</div>


<button><a th:href="@{/posts/create}">Create a post</a></button>


    <div th:each="post : ${posts}">
        <h1 th:text="${post.title}"></h1>
        <p th:text="${post.body}"></p>
        <form th:action="@{|/posts/${post.id}/edit|}" th:method="GET">
            <button>Edit Post</button>
        </form>
    </div>



</body>
</html>
