<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/header :: header">
</head>
<body>
<div class="site-container">
<div th:include="partials/navbar :: navbar">
</div>
    <main class="site-content">


<!--div holding structure for contacts menu - EVENTUAL FOR EACH displaying LIST OF CONTACTS-->
<div style="width: 30%; display: inline">
    <div th:each="contact : ${contactList}">
        Contact Name:
        <h1 th:text="${contact.getAdded_user_id().getFirst_name() + contact.getAdded_user_id().getLast_name()}"></h1>
        Contact E-mail:
        <p th:text="${contact.getAdded_user_id().getEmail()}"></p>
    </div>
</div>

<!--div holding structure for eventual FOR EACH LOOP pulling LIST OF MESSAGES w/ METHODS BRINGING SENDER/RECEIVER NAMES-->

<div style="width: 60%; display: inline">
<h1><p th:text="${message.body}"></p></h1>
Sent by <span th:text="${sentUser.getFirst_name() + sentUser.getLast_name()}"/>
Received by <span th:text="${receivedUser.getFirst_name() + receivedUser.getLast_name()}"/>
</div>



    </main>
<div th:include="partials/footer :: footer">
</div>
</div>
</body>
</html>
