<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>message bois</title>
</head>
<body>
<div th:include="partials/navbar :: navbar">
</div>

<!--div holding structure for contacts menu - EVENTUAL FOR EACH displaying LIST OF CONTACTS-->
<div style="width: 30%; display: inline">
    <div th:each="contact : ${contactList}">
        <h1 th:text="${contact.getUser().getFirst_name() + contact.getUser().getLast_name() }"></h1>
        <p th:text="${contact.getUser().getEmail()}"></p>
    </div>

</div>


<!--div holding structure for eventual FOR EACH LOOP pulling LIST OF MESSAGES w/ METHODS BRINGING SENDER/RECEIVER NAMES-->
<div style="width: 60%; display: inline">
<h1><p th:text="${message.body}"></p></h1>
<!--<p>This is a test body for a message! Thanks for reading this message</p>-->
Sent by <span th:text="${sentUser.getFirst_name() + sentUser.getLast_name()}"/>
Received by <span th:text="${receivedUser.getFirst_name() + receivedUser.getLast_name()}"/>
</div>



</body>
</html>