<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml">
<head th:include="partials/header :: header">
</head>
<body>
<div id="profile">
    <div class="site-container">
        <div th:include="partials/navbar :: navbar">
        </div>
        <div class="centered">
            <main class="site-content">
                <div th:if="${user != null}" id="profileFirstBlock" style="display: flex">
                    <img th:src="@{'http://cdn.filestackcontent.com/' + ${user.filestack_picture_url}}" alt="" id="profilePicture">
                    <div id="profileFirstInnerBlock">
                        <h1 th:text="${user.first_name} +  ' ' +  ${user.last_name}" style="font-weight: bold; color: #1777F2"></h1>
                        <h3 style="color: #FEDD00" th:text="${mentorMessage}"></h3>

                        <div th:if="${userRating} != 0" >
                            <span style="color: #FEDD00" th:if="${#aggregates.avg(userRating)} >=1" class="fa fa-star"></span>
                            <span style="color: #FEDD00" th:if="${#aggregates.avg(userRating)} >=2" class="fa fa-star"></span>
                            <span style="color: #FEDD00" th:if="${#aggregates.avg(userRating)} >=3" class="fa fa-star"></span>
                            <span style="color: #FEDD00" th:if="${#aggregates.avg(userRating)} >=4" class="fa fa-star"></span>
                            <span style="color: #FEDD00" th:if="${#aggregates.avg(userRating)} >=5" class="fa fa-star"></span>
                            <h1 th:text="${#aggregates.avg(userRating)} + ' average rating  from ' + ${userRating.size()} + ' users!'"></h1>

                        </div>


                    </div>
                </div>


            <h3 style="font-weight: bold; color: #1777F2">BIO:</h3>
            <div th:if="${user != null}"><h3 th:text="${user.biography}"></h3></div>
            <h3 style="font-weight: bold; color: #1777F2">Interests:</h3>
            <div style="height: 100%; width: 100%; display: flex; flex-wrap: wrap; justify-content: center">
            <div id="interests" th:each="i : ${interestList}">
                <div style="display: flex; border-radius: 10px; border: 2px solid #1777F2; justify-content: center; width: 300px; font-size: 30px; margin: 10px; color: black">
                <span th:text="${i.getName()}"></span>
                <img style="height: 55px" th:src="${i.getPicture_path()}" alt="">
                </div>
            </div>
            </div>

                <div th:style="${messagingDisplay == true ? 'display:block' : 'display:none'}">

                <h3>Send <span th:text="${user.first_name} +  ' ' +  ${user.last_name}"!/> a message!</h3>
                <form th:action="@{/messages/send}" th:method="POST" th:object="${message}">
                    <label for="title">Body of message</label>
                    <label for="body">Body</label>
                    <textarea id="body" th:field="*{body}" placeholder="Enter body here">

        </textarea>
                    <button type="submit">Send message!</button>
                </form>

                </div>

                </div>

                <div id="ratingDIV" th:style="${ratingDisplay == true ? 'display:block' : 'display:none'}" >

                    <form th:object="${ratingOBJ}" th:method="post" th:action="@{/rating}">
                        <h2>submit a rating</h2>
                        <input id="hiddenID" name="hiddenID" th:value="${ratingID}" type="hidden">
                        <div>
                            <select th:field="*{rating}">
                                <option th:each="i : ${#numbers.sequence(1, 5)}" th:value="${i}" th:text="${i}">
                                </option>
                            </select>
                        </div>
                        <button type="submit">Submit your rating!</button>
                    </form>
                </div>


        </div>
        <div th:include="partials/footer :: footer">
        </div>
    </div>
</div>

</main>
<div class="mobile">
    <img th:src="@{'http://cdn.filestackcontent.com/' + ${user.filestack_picture_url}}"  alt="">
    <h1 th:text="${user.first_name} +  ' ' +  ${user.last_name}" style="font-weight: bold; color: #1777F2"></h1>
    <h3 style="color: #FEDD00" th:text="${mentorMessage}"></h3>
    <div class="rating"></div>

    <h1 style="font-weight: bold; color: #1777F2">BIO:</h1>
    <div th:if="${user != null}"><h3 th:text="${user.biography}"></h3></div>

    <h1 style="font-weight: bold; color: #1777F2">SKILLS:</h1>
    <div class="skillsBlock" style="display: flex">
        <div style="height: 100%; width: 100%; display: flex; flex-wrap: wrap; justify-content: center; overflow: scroll">
        <div id="interests" th:each="i : ${interestList}">
            <span th:text="${i.getName()}"></span>
            <img style="height: 55px" th:src="${i.getPicture_path()}" alt="">
        </div>
        </div>
    </div>
    <h1 style="font-weight: bold; color: #1777F2">REVIEW:</h1>
    <h3 style="color: black">Yes, there is earth, it preaches with art. Enlightenment doesn't beautifully believe any yogi — but the lord
        is what
        occurs.</h3>
    <div id="ratingDIV" th:style="${ratingDisplay == true ? 'display:block' : 'display:none'}" >

        <form th:object="${ratingOBJ}" th:method="post" th:action="@{/rating}">
            <h1>submit a rating</h1>
            <input id="hiddenID" name="hiddenID" th:value="${ratingID}" type="hidden">
            <div>
                <select th:field="*{rating}">
                    <option th:each="i : ${#numbers.sequence(1, 5)}" th:value="${i}" th:text="${i}">
                    </option>
                </select>
            </div>
            <button type="submit">Submit your rating!</button>
        </form>
    </div>
    <div style="margin-bottom: 200px"></div>


    <div th:include="partials/navbar :: mobile-nav">
    </div>
</div>
<!--<script th:inline="javascript">-->
<!--    /*<![CDATA[*/-->
<!--    var rating = [[${rating}]];-->
<!--    let newRate = "";-->

<!--    function ratingStars(rating) {-->
<!--        if (rating <= 1.5) {-->
<!--            newRate = "⭐"-->
<!--        }-->
<!--        if (rating <= 2.5) {-->
<!--            newRate = "⭐️⭐️"-->
<!--        }-->
<!--        if (rating <= 3.5) {-->
<!--            newRate = "⭐️⭐️⭐️"-->
<!--        }-->
<!--        if (rating <= 4.5) {-->
<!--            newRate = "⭐️⭐️⭐️⭐️"-->
<!--        }-->
<!--        if (rating > 4.5) {-->
<!--            newRate = "⭐️⭐️⭐️⭐️⭐️"-->
<!--        }-->

<!--    }-->

<!--    $(document).ready(function () {-->
<!--        ratingStars(rating);-->
<!--        $(".rating").html(-->
<!--            "" + newRate + ""-->
<!--        )-->
<!--    })-->

<!--    /*]]>*/-->
<!--</script>-->
</body>
</html>
