<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/header :: header">
</head>
<body>
<div id="profile">
<div class="site-container">
    <div th:include="partials/navbar :: navbar">
    </div>
    <div class="centered">
    <main class="site-content">
        <div id="profileFirstBlock" style="display: flex">
            <img th:src="@{/img/kenwalsh.png}" alt="" id="profilePicture">
            <div id="profileFirstInnerBlock">
                <h1 style="font-weight: bold; color: #1777F2">KEN WALSH</h1>
                <h3 style="color: #FEDD00">mentor</h3>
                <div id="rating"></div>
            </div>
        </div>

        <h1 style="font-weight: bold; color: #1777F2">BIO:</h1>
        <!--<h3 th:text="${user.biography}"></h3>-->
        <h1 style="font-weight: bold; color: #1777F2">SKILLS:</h1>
        <div id="skillsBlock" style="display: flex">
            <p>skills</p>
        </div>
        <h1 style="font-weight: bold; color: #1777F2">REVIEW:</h1>
        <h3 style="color: #1777F2">Yes, there is earth, it preaches with art. Enlightenment doesn't beautifully believe any yogi — but the lord
            is what
            occurs.</h3>

    </main>
    </div>
    <div th:include="partials/footer :: footer">
    </div>
</div>
</div>
<div class="mobile">
    <div th:include="partials/mobile :: mobile-head">
    </div>
<div th:include="partials/mobile :: mobile-nav">
</div>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    var rating = [[${rating}]];
    let newRate = "";

    function ratingStars(rating) {
        if (rating <= 1.5) {
            newRate = "⭐"
        }
        if (rating <= 2.5) {
            newRate = "⭐️⭐️"
        }
        if (rating <= 3.5) {
            newRate = "⭐️⭐️⭐️"
        }
        if (rating <= 4.5) {
            newRate = "⭐️⭐️⭐️⭐️"
        }
        if (rating > 4.5) {
            newRate = "⭐️⭐️⭐️⭐️⭐️"
        }

    }

    $(document).ready(function () {
        ratingStars(rating);
        $("#rating").html(
            "" + newRate + ""
        )
    })

    /*]]>*/
</script>
</body>
</html>
