<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/header :: header">
</head>
<body>
    <main class="site-content">
        <div class="site-container">

    <div th:include="partials/navbar :: navbar"></div>

        <h1 style="font-family: 'Open Sans', sans-serif; font-size: 35px">Search results for: <span th:text="${myInput}" style="color: #1777F2"></span></h1>
            <div style="display: flex">
                <div th:each="user : ${users}" style="border-radius: 8px; border: 8px dodgerblue solid; width: 25vw; display: flex; flex-wrap: wrap; margin: 20px">
                    <a th:href="@{/profile/{id}(id=${user.id})}" style="display: flex; flex-direction: column; align-items: center; margin: 20px; margin-left: 100px;">
                        <img class="searchImg" style="height: 200px" src="" th:attr="src=@{'http://cdn.filestackcontent.com/' + ${user.filestack_picture_url}}">
                        <p th:text="${user.first_name} + ' ' + ${user.last_name}" style="font-size: 20px; font-family: 'Open Sans', sans-serif"></p>
                        <div class="rating"  style="font-size: 30px"><span th:text="${user.rating}"></span></div>
                    </a>
                </div>
            </div>
<!--            th:class="${'rating' + user.id}"-->
            <div th:include="partials/footer :: footer">
            </div>
        </div>

    </main>
    <div class="mobile">

        <h1>Search results for: <span th:text="${myInput}"></span></h1>
        <div style="border-radius: 8px; border: 8px white solid; margin: 20px" th:each="user : ${users}">
            <a th:href="@{/profile/{id}(id=${user.id})}">
                <p th:text="${user.first_name} + ' ' + ${user.last_name}" ></p>
                <img src="" th:attr="src=@{'http://cdn.filestackcontent.com/' + ${user.filestack_picture_url}}">
                <div class="ratingMobile"><span th:text="${user.rating}"></span></div>
            </a>
        </div>

    </div>

    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/
        let newRate = "";




        function ratingStars(rating) {

            if (rating <= 1.5) {
                newRate = "⭐"
            }
            if (rating > 1.5 && rating < 2.5) {
                newRate = "⭐️⭐️"
            }
            if (rating > 2.5 && rating < 3.5) {
                newRate = "⭐️⭐️⭐️"
            }
            if (rating > 3.5 && rating < 4.5) {
                newRate = "⭐️⭐️⭐️⭐️"
            }
            if (rating >= 4.5) {
                newRate = "⭐️⭐️⭐️⭐️⭐️"
            }

        }

        $(document).ready(function () {
            $('.rating').each(function () {
                let rating = $(".rating span").text();

                ratingStars(rating);
                $(this).html(
                    "" + newRate + ""
                )
            });
            $('.ratingMobile').each(function () {
                let rating = $(".ratingMobile span").text();

                ratingStars(rating);
                $(this).html(
                    "" + newRate + ""
                )
            });

        })


        /*]]>*/
    </script>

<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"
>
</script>
</body>
</html>
