<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign-Up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{../static/CSS/signUp.css}">
    <link rel="stylesheet" th:href="@{../static/CSS/index.css}">

</head>
<body id="signUp">
<div id="left">
    <img th:src="@{../static/img/lightbulb.gif}" alt="" id="lightBulbGif">
</div>
<div id="right">
    <div class="rightContent">
        <div style="background-color: grey" class="bigCircle"><p>1</p></div>
        <div style="background-color: grey" class="littleCircle"></div>
        <div style="background-color: grey" class="littleCircle"></div>
        <div style="background-color: grey" class="littleCircle"></div>
        <div style="background-color: grey" class="bigCircle"><p>2</p></div>
        <div style="background-color: grey" class="littleCircle"></div>
        <div style="background-color: grey" class="littleCircle"></div>
        <div style="background-color: grey" class="littleCircle"></div>
        <div style="background-color: grey" class="bigCircle"><p>3</p></div>
        <div style="background-color: grey" class="littleCircle"></div>
        <div style="background-color: grey" class="littleCircle"></div>
        <div style="background-color: grey" class="littleCircle"></div>
        <div style="background-color: grey" class="bigCircle"><p>4</p></div>
    </div>
    <div style="text-align: center">
        <h1 style="margin-top: 5em">Step 1:</h1>
        <h3>Are you a,</h3>
        <button class="button" id="menteeBtn">Mentee</button>
        <h3>or</h3>
        <button class="button" id="mentorBtn">Mentor</button>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script th:src="@{../static/js/keys.js}"></script>
<script th:src="@{../static/js/signUp.js}"></script>
</body>
</html>
