<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/header :: header">
    <meta name="filestackapi" th:content="${filestackapi}">
</head>
<body>
<div id="signUp">
<div id="left">
    <img th:src="@{/img/mentee_mentor.svg}" alt="" class="left_img">
</div>
<div id="right">
    <div class="rightContent">
        <div id="bigCircle1" style="background-color: grey" class="bigCircle"><p>1</p></div>
        <div id="lineone" style="background-color: grey" class="line"></div>
        <div style="background-color: grey" class="littleCircle lcgroupone"></div>
        <div style="background-color: grey" class="littleCircle lcgroupone"></div>
        <div style="background-color: grey" class="littleCircle lcgroupone"></div>
        <div id="bigCircle2" style="background-color: grey" class="bigCircle"><p>2</p></div>
        <div id="linetwo" style="background-color: grey" class="line"></div>
        <div style="background-color: grey" class="littleCircle lcgrouptwo"></div>
        <div style="background-color: grey" class="littleCircle lcgrouptwo"></div>
        <div style="background-color: grey" class="littleCircle lcgrouptwo"></div>
        <div id="bigCircle3" style="background-color: grey" class="bigCircle"><p>3</p></div>
        <div id="linethree" style="background-color: grey" class="line"></div>
        <div style="background-color: grey" class="littleCircle lcgroupthree"></div>
        <div style="background-color: grey" class="littleCircle lcgroupthree"></div>
        <div style="background-color: grey" class="littleCircle lcgroupthree"></div>
        <div id="bigCircle4" style="background-color: grey" class="bigCircle"><p>4</p></div>
    </div>
    <div id="pathchoice" style="text-align: center">
        <h1 style="margin-top: 3em; font-size: 50px">Step 1:</h1>
        <h3 style="font-size: 35px">Are you a:</h3>
        <button class="btn btn3" id="menteeBtn">Mentee</button>
        <h3 style="font-size: 35px">or</h3>
        <button class="btn btn4" id="mentorBtn">Mentor</button>
    </div>

<form id="regForm" th:action="@{/signup}" th:method="post" th:object="${user}">

    <h1>Register:</h1>
    <div class="tab">Name:
        <p><input placeholder="First name" th:field="*{first_name}"></p>
        <p><input placeholder="Last name" th:field="*{last_name}"></p>
    </div>

    <div class="tab">Desired username, password, and current e-mail:
        <p><input placeholder="Username" th:field="*{username}"></p>
        <p><input placeholder="Password" th:field="*{password}"></p>
        <p><input placeholder="E-mail" th:field="*{email}"></p>
    </div>


    <div class="tab">Username and biography info:
        <p><input placeholder="Location" th:field="*{location}"></p>
        <p><input placeholder="Tells us a bit about yourself" th:field="*{biography}"></p>
    </div>


    <div class="tab">
        <input id="stashFilestackURL" name="stashFilestackURL" value="replaceme" th:field="*{filestack_picture_url}" type="hidden">
        <div id='upload' class='button'><img th:src="@{/img/svg/photograph.svg}" alt='' style='height: 100%' id='picUpLoad'></div>
        <select id="formpathselection" class="form-control" th:field="*{is_mentor}">
            <option th:value="1" >mentor</option>
            <option th:value="0" >mentee</option>
        </select>
    </div>

            <button type="button" id="prevBtn">Previous</button>
            <button type="button" id="nextBtn">Next</button>

</form>

</div>
</div>

<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js/}"></script>
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script th:src="@{/js/signUp.js}"></script>

</body>
</html>
