<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/header :: header">
</head>
<body id="splash">
<img th:src="@{/img/mentorIcon.svg}" alt="" class="icon">
<h1 class="title"><span class="titleSpan">M</span>entor</h1>
<div id="quotes"></div>
<div style="display: flex; width: 300px; justify-content: space-between; grid-area: 3 / 2 / 4 / 3">
    <button class="btn btn1 signIn open-modal">SIGN IN</button>
    <button class="btn btn2 signUp">SIGN UP</button>
</div>
<div class="modal-shade"></div>
<div class="modal-container">
    <div class="modal">
        <form style="font-size: 30px; color: #1777F2" method="POST" action="/login">
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" id="uname" name="uname" required>
            <br>
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
            <div class="modal-actions">
                <button class="modal-cancel btn btn5">CANCEL</button>
                <button class="modal-ok btn btn6">LOGIN</button>
            </div>
        </form>
    </div>
</div>

<

<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js/}"></script>
<script src="https://unpkg.com/popmotion/dist/popmotion.global.min.js"></script>
<script th:src="@{/js/splash.js}"></script>
</body>
</html>
